@function vw($px) {
    @return calc($px * 100vw / 390);
}

@function vwPC($px) {
    @return calc($px * 100vw / 1920);
}

@function px2Rem($px) {
    @return calc($px / 16) * 1rem;
}

@function min($values...) {
    @return unquote('min(#{$values})');
}

@function max($values...) {
    @return unquote('max(#{$values})');
}

@function mvw($px) {
    $value1: calc($px * 100vw / 1200);
    $value2: px2Rem($px);

    @if $px >=0 {
        @return min($value1, $value2);
    }

    @else {
        @return max($value1, $value2);
    }
}

$breakpoints: (
    "sm": "screen and (min-width: 400px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1000px)",
    "xl": "screen and (min-width: 1200px)",
    ) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/* ページ全体のスタイル
------------------------------------------ */
body {
    font-family: "Zen Kaku Gothic New",
        sans-serif;
    line-height: 1.5;
    color: #000000;
}

a {
    color: #ffffff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

.container {
    overflow: hidden;
}

.container-body {
    width: 100%;
    margin: 0 auto;

    @include mq() {
        max-width: mvw(1200
        );
}
}

/* top
------------------------------------------ */
.top {
    background-color: #fd5b19;

    img {
        width: 100%;

    }
}

.top__container {
    padding: vw(11.2) 0 vw(48) 0;

    @include mq() {
        padding: 0 mvw(16) mvw(24) mvw(16);
        position: relative;
    }
}

.top__logo {
    width: 38%;
    margin: 0 auto vw(32);

    @include mq() {
        width: 16.5%;
        position: absolute;
        top: mvw(27.2);
        left: mvw(16);
        margin: 0;
    }
}

.top__wrapper {
    @include mq() {
        display: flex;
        flex-direction: row-reverse;
        padding-top: mvw(24);
        justify-content: center;
        align-items: center;
    }
}

.top__image {
    width: 71%;
    margin: 0 auto vw(19.2);

    @include mq() {
        width: 47%;
        margin: 0 auto;
        padding: 0 mvw(64) 0 mvw(8);
    }
}

.top__text-box {
    padding-left: vw(16);

    @include mq() {
        width: 53%;
        padding-left: mvw(64);
    }
}

.top__text {
    font-size: vw(38);
    font-weight: 700;
    font-family: "Outfit", sans-serif;
    line-height: calc(48 / 38);
    color: #ffffff;
    margin-bottom: vw(8);

    @include mq() {
        font-size: mvw(64);
        line-height: calc(80 / 64);
        margin-bottom: mvw(19.2);
    }
}

.top__text-sub {
    font-size: vw(15);
    font-weight: 700;
    line-height: calc(21 / 15);
    color: #ffffff;

    @include mq() {
        font-size: mvw(25);
        line-height: calc(36 / 25);
    }
}

/* download
------------------------------------------ */
.download {
    background-color: #bce0eb;
}

.download__container {
    padding: vw(22.4) 0 vw(24) 0;

    @include mq() {
        padding: mvw(38.4) 0 mvw(41.6) 0;
    }
}

.download__text {
    font-size: vw(14);
    font-weight: 700;
    line-height: calc(20 / 14);
    color: #004da4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: vw(4.8);

    @include mq() {
        font-size: mvw(20);
        line-height: calc(29 / 20);
        margin-bottom: mvw(16);
    }
}

.download__text::before {
    content: "";
    border-left: 1px solid #004da4;
    transform: rotate(-30deg);
    height: vw(32);
    margin-right: vw(16);

    @include mq() {
        transform: rotate(-30deg);
        height: mvw(45.85);
        margin-right: mvw(20.8);
    }
}

.download__text::after {
    content: "";
    border-left: 1px solid #004da4;
    transform: rotate(30deg);
    height: vw(32);
    margin-left: vw(16);

    @include mq() {
        transform: rotate(30deg);
        height: mvw(45.85);
        margin-left: mvw(20.8);
    }
}

.download__button {
    font-size: vw(15);
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    background-color: #004da4;
    border-radius: vw(4.8);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: vw(232);
    margin: 0 auto;
    padding: vw(15.2) 0 vw(15.2) 0;

    @include mq() {
        font-size: mvw(22);
        border-radius: 0.5rem;
        max-width: mvw(338);
        padding: mvw(21.04) 0 mvw(21.04) 0;
    }
}

.download__button:hover {
    opacity: 0.6;
}

/* about
------------------------------------------ */
.about {
    height: vw(756.8);

    @include mq() {
        height: mvw(756);
    }
}

/* reasons
------------------------------------------ */
.reasons {
    background-color: #fffaf5;

    img {
        width: 100%;
    }
}

.reasons__container {
    padding: vw(40) vw(15) vw(19.2) vw(15);

    @include mq() {
        max-width: mvw(960);
        padding: mvw(80) mvw(32) mvw(75.2) mvw(32);
    }
}

.reasons__title-body {
    text-align: center;

    @include mq() {
        margin-bottom: mvw(4.8);
    }
}

.reasons__title--br {
    display: inline-block;
}

.reasons__sub-title {
    font-size: vw(16);
    font-weight: 700;
    font-family: "Outfit",
        sans-serif;
    line-height: calc(20 / 16);
    color: #003e92;
    display: block;
    text-align: center;
    margin-bottom: vw(8);

    @include mq() {
        font-size: mvw(20);
        line-height: calc(25 / 20);
        margin-bottom: mvw(8);
    }
}

.reasons__title {
    font-size: vw(20);
    font-weight: 700;
    line-height: calc(24 / 20);
    text-align: center;
    margin-bottom: vw(24);

    @include mq() {
        font-size: mvw(28);
        line-height: calc(40 / 28);
        padding-left: mvw(1.6);
        margin-bottom: mvw(16);
        letter-spacing: -0.04em;
    }
}

.reasons__title--orange {
    font-size: vw(30);
    font-weight: 700;
    font-family: "Outfit",
        sans-serif;
    color: #fd5b19;
    line-height: calc(38 / 30);
    margin-right: vw(4.8);

    @include mq() {
        font-size: mvw(40);
        line-height: calc(50 / 40);
        margin-right: mvw(8);
        letter-spacing: -0.003em;
    }
}

.reasons__title--big {
    font-size: vw(32);
    font-weight: 700;
    font-family: "Outfit",
        sans-serif;
    line-height: calc(40 / 32);

    @include mq() {
        font-size: mvw(48);
        line-height: calc(60 / 48);
    }
}

.reasons__text {
    font-size: vw(16);
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: vw(48);

    @include mq() {
        font-size: mvw(16);
        line-height: calc(32 / 16);
        margin-bottom: mvw(64);
    }
}

.reasons__list {
    @include mq() {
        display: flex;
        justify-content: space-between;
    }
}

.reasons__item {
    margin-bottom: vw(45.6);

    @include mq() {
        flex: 1;
        margin-bottom: 0;
    }
}

.reasons__item:last-child {
    margin-bottom: 0;
}

.reasons__item-number {
    font-size: vw(40);
    font-weight: 700;
    font-family: "Outfit", sans-serif;
    line-height: 1.25;
    color: #fd5b19;
    position: absolute;
    top: -10%;
    left: 0;


    @include mq() {
        font-size: mvw(56);
        line-height: calc(71 / 56);
        position: absolute;
        top: -15%;
        left: 0;
    }
}

.reasons__item-image {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    width: vw(180);
    height: vw(180);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto vw(3.2);

    @include mq() {
        width: mvw(238);
        height: mvw(238);
        margin: 0 auto mvw(19.2);
    }
}

.reasons__image-inner {
    width: 55%;

    @include mq() {
        width: 55%;
    }
}

.reasons__image-inner--small {
    width: 37%;

    @include mq() {
        width: 37%;
    }
}

.reasons__item-text {
    font-size: vw(18);
    font-weight: 700;
    line-height: calc(35 / 18);
    text-align: center;
    margin-bottom: vw(16);

    @include mq() {
        font-size: mvw(20);
        line-height: calc(35 / 20);
        margin-bottom: 0;
    }
}