@charset "UTF-8";
/* ページ全体のスタイル
------------------------------------------ */
body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  line-height: 1.5;
  color: #000000;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.container {
  overflow: hidden;
}

.container-body {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container-body {
    max-width: min(100vw, 75rem);
  }
}

/* top
------------------------------------------ */
.top {
  background-color: #fd5b19;
}
.top img {
  width: 100%;
}

.top__container {
  padding: 2.8717948718vw 0 12.3076923077vw 0;
}
@media screen and (min-width: 768px) {
  .top__container {
    padding: 0 min(1.3333333333vw, 1rem) min(2vw, 1.5rem) min(1.3333333333vw, 1rem);
    position: relative;
  }
}

.top__logo {
  width: 38%;
  margin: 0 auto 8.2051282051vw;
}
@media screen and (min-width: 768px) {
  .top__logo {
    width: 16.5%;
    position: absolute;
    top: min(2.2666666667vw, 1.7rem);
    left: min(1.3333333333vw, 1rem);
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .top__wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding-top: min(2vw, 1.5rem);
    justify-content: center;
    align-items: center;
  }
}

.top__image {
  width: 71%;
  margin: 0 auto 4.9230769231vw;
}
@media screen and (min-width: 768px) {
  .top__image {
    width: 47%;
    margin: 0 auto;
    padding: 0 min(5.3333333333vw, 4rem) 0 min(0.6666666667vw, 0.5rem);
  }
}

.top__text-box {
  padding-left: 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .top__text-box {
    width: 53%;
    padding-left: min(5.3333333333vw, 4rem);
  }
}

.top__text {
  font-size: 9.7435897436vw;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  line-height: 1.2631578947;
  color: #ffffff;
  margin-bottom: 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .top__text {
    font-size: min(5.3333333333vw, 4rem);
    line-height: 1.25;
    margin-bottom: min(1.6vw, 1.2rem);
  }
}

.top__text-sub {
  font-size: 3.8461538462vw;
  font-weight: 700;
  line-height: 1.4;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .top__text-sub {
    font-size: min(2.0833333333vw, 1.5625rem);
    line-height: 1.44;
  }
}

/* download
------------------------------------------ */
.download {
  background-color: #bce0eb;
}

.download__container {
  padding: 5.7435897436vw 0 6.1538461538vw 0;
}
@media screen and (min-width: 768px) {
  .download__container {
    padding: min(3.2vw, 2.4rem) 0 min(3.4666666667vw, 2.6rem) 0;
  }
}

.download__text {
  font-size: 3.5897435897vw;
  font-weight: 700;
  line-height: 1.4285714286;
  color: #004da4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2307692308vw;
}
@media screen and (min-width: 768px) {
  .download__text {
    font-size: min(1.6666666667vw, 1.25rem);
    line-height: 1.45;
    margin-bottom: min(1.3333333333vw, 1rem);
  }
}

.download__text::before {
  content: "";
  border-left: 1px solid #004da4;
  transform: rotate(-30deg);
  height: 8.2051282051vw;
  margin-right: 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .download__text::before {
    transform: rotate(-30deg);
    height: min(3.8208333333vw, 2.865625rem);
    margin-right: min(1.7333333333vw, 1.3rem);
  }
}

.download__text::after {
  content: "";
  border-left: 1px solid #004da4;
  transform: rotate(30deg);
  height: 8.2051282051vw;
  margin-left: 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .download__text::after {
    transform: rotate(30deg);
    height: min(3.8208333333vw, 2.865625rem);
    margin-left: min(1.7333333333vw, 1.3rem);
  }
}

.download__button {
  font-size: 3.8461538462vw;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  background-color: #004da4;
  border-radius: 1.2307692308vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 59.4871794872vw;
  margin: 0 auto;
  padding: 3.8974358974vw 0 3.8974358974vw 0;
}
@media screen and (min-width: 768px) {
  .download__button {
    font-size: min(1.8333333333vw, 1.375rem);
    border-radius: 0.5rem;
    max-width: min(28.1666666667vw, 21.125rem);
    padding: min(1.7533333333vw, 1.315rem) 0 min(1.7533333333vw, 1.315rem) 0;
  }
}

.download__button:hover {
  opacity: 0.6;
}

/* about
------------------------------------------ */
.about {
  height: 194.0512820513vw;
}
@media screen and (min-width: 768px) {
  .about {
    height: min(63vw, 47.25rem);
  }
}

/* reasons
------------------------------------------ */
.reasons {
  background-color: #fffaf5;
}
.reasons img {
  width: 100%;
}

.reasons__container {
  padding: 10.2564102564vw 3.8461538462vw 4.9230769231vw 3.8461538462vw;
}
@media screen and (min-width: 768px) {
  .reasons__container {
    max-width: min(80vw, 60rem);
    padding: min(6.6666666667vw, 5rem) min(2.6666666667vw, 2rem) min(6.2666666667vw, 4.7rem) min(2.6666666667vw, 2rem);
  }
}

.reasons__title-body {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reasons__title-body {
    margin-bottom: min(0.4vw, 0.3rem);
  }
}

.reasons__title--br {
  display: inline-block;
}

.reasons__sub-title {
  font-size: 4.1025641026vw;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  line-height: 1.25;
  color: #003e92;
  display: block;
  text-align: center;
  margin-bottom: 2.0512820513vw;
}
@media screen and (min-width: 768px) {
  .reasons__sub-title {
    font-size: min(1.6666666667vw, 1.25rem);
    line-height: 1.25;
    margin-bottom: min(0.6666666667vw, 0.5rem);
  }
}

.reasons__title {
  font-size: 5.1282051282vw;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 6.1538461538vw;
}
@media screen and (min-width: 768px) {
  .reasons__title {
    font-size: min(2.3333333333vw, 1.75rem);
    line-height: 1.4285714286;
    padding-left: min(0.1333333333vw, 0.1rem);
    margin-bottom: min(1.3333333333vw, 1rem);
    letter-spacing: -0.04em;
  }
}

.reasons__title--orange {
  font-size: 7.6923076923vw;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  color: #fd5b19;
  line-height: 1.2666666667;
  margin-right: 1.2307692308vw;
}
@media screen and (min-width: 768px) {
  .reasons__title--orange {
    font-size: min(3.3333333333vw, 2.5rem);
    line-height: 1.25;
    margin-right: min(0.6666666667vw, 0.5rem);
    letter-spacing: -0.003em;
  }
}

.reasons__title--big {
  font-size: 8.2051282051vw;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .reasons__title--big {
    font-size: min(4vw, 3rem);
    line-height: 1.25;
  }
}

.reasons__text {
  font-size: 4.1025641026vw;
  font-weight: 400;
  line-height: 1.75;
  margin-bottom: 12.3076923077vw;
}
@media screen and (min-width: 768px) {
  .reasons__text {
    font-size: min(1.3333333333vw, 1rem);
    line-height: 2;
    margin-bottom: min(5.3333333333vw, 4rem);
  }
}

@media screen and (min-width: 768px) {
  .reasons__list {
    display: flex;
    justify-content: space-between;
  }
}

.reasons__item {
  margin-bottom: 11.6923076923vw;
}
@media screen and (min-width: 768px) {
  .reasons__item {
    flex: 1;
    margin-bottom: 0;
  }
}

.reasons__item:last-child {
  margin-bottom: 0;
}

.reasons__item-number {
  font-size: 10.2564102564vw;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  line-height: 1.25;
  color: #fd5b19;
  position: absolute;
  top: -10%;
  left: 0;
}
@media screen and (min-width: 768px) {
  .reasons__item-number {
    font-size: min(4.6666666667vw, 3.5rem);
    line-height: 1.2678571429;
    position: absolute;
    top: -15%;
    left: 0;
  }
}

.reasons__item-image {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  width: 46.1538461538vw;
  height: 46.1538461538vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0.8205128205vw;
}
@media screen and (min-width: 768px) {
  .reasons__item-image {
    width: min(19.8333333333vw, 14.875rem);
    height: min(19.8333333333vw, 14.875rem);
    margin: 0 auto min(1.6vw, 1.2rem);
  }
}

.reasons__image-inner {
  width: 55%;
}
@media screen and (min-width: 768px) {
  .reasons__image-inner {
    width: 55%;
  }
}

.reasons__image-inner--small {
  width: 37%;
}
@media screen and (min-width: 768px) {
  .reasons__image-inner--small {
    width: 37%;
  }
}

.reasons__item-text {
  font-size: 4.6153846154vw;
  font-weight: 700;
  line-height: 1.9444444444;
  text-align: center;
  margin-bottom: 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .reasons__item-text {
    font-size: min(1.6666666667vw, 1.25rem);
    line-height: 1.75;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */